[package]
name = "ftlman"
version = "0.3.0"
edition = "2021"

[dependencies]
env_logger = "0.11"
log = "0.4"

clap = { version = "4", features = ["derive"] }
eframe = { version = "0.29", features = ["persistence"] }
ureq = "2"
egui_dnd = "0.10"
dirs = "5"
anyhow = "1.0"
regex = "1"
lazy_static = "1"
once_cell = "1"

parking_lot = "0.12"
poll-promise = { version = "0.3" }

# Used to read/write SIL archives and mod files/dirs
silpkg = { git = "https://github.com/afishhh/silpkg.git" }
zip = "2"
walkdir = "2"

# Used in cache.rs
tempfile = "3"

# Used for persisting state and deserializing mod metadata
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
quick-xml = { version = "0.37", features = ["serialize"] }

# Localisation
fluent = "0.16"

# Used for dependency checking
semver = { version = "1", features = ["serde"] }

# This dependency could be removed but it's pretty small.
open = "5.3.1"
egui_extras = { version = "0.29.1", features = ["syntect"] }

# For loading system fonts on Linux
[target.'cfg(target_os = "linux")'.dependencies]
yeslogic-fontconfig-sys = "6"

# For loading system fonts and system language detection on Windows
[target.'cfg(target_os = "windows")'.dependencies]
winapi = { version = "0.3", features = ["dwrite", "winnls", "winbase", "errhandlingapi", "std"] }

[patch.crates-io]
egui = { git = "https://github.com/afishhh/egui", branch = "cache_galley_lines" }
egui_extras = { git = "https://github.com/afishhh/egui", branch = "cache_galley_lines" }
eframe = { git = "https://github.com/afishhh/egui", branch = "cache_galley_lines" }

# Speeds up testing considerably
[profile.dev]
opt-level = 2

[workspace]
members = ["compare_with_slipstream/normalize_xml"]
