[package]
name = "ftlman"
version = "0.5.4"
edition = "2021"

[features]
portable-release = []

[dependencies]
env_logger = "0.11"
log = "0.4"

clap = { version = "4", features = ["derive"] }
eframe = { version = "0.30", features = ["persistence"] }
ureq = "2"
egui_dnd = "0.11"
dirs = "5"
anyhow = "1.0"
regex = "1"
once_cell = "1"

parking_lot = "0.12"
poll-promise = { version = "0.3" }

# For BPS patches
crc32fast = "1"

# Used to read/write SIL archives and mod files/dirs
silpkg = "0.1.2"
zip = "2"
walkdir = "2"

# Used in cache.rs
tempfile = "3"

# Used for persisting state and deserializing mod metadata
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
# TODO: Replace with speedy-xml by implementing a serde deserializer
quick-xml = { version = "0.37", features = ["serialize"] }

speedy-xml = { path = "./speedy-xml" }

# These are dependencies of serde anyway
ryu = "1"
itoa = "1"

memchr = "2"

# For nice error source reporting, currently only used in the XML Sandbox
annotate-snippets = "0.11.5"

# Localisation
fluent = "0.16"

# Used for dependency checking
semver = { version = "1", features = ["serde"] }

# Used in only one place, but other crates already pull it in
time = { version = "0.3", features = ["formatting", "local-offset"] }

# This dependency could be removed but it's pretty small.
open = "5.3.1"
egui_extras = { version = "0.30", features = ["syntect"] }

mlua = { version = "0.10", features = ["lua54", "macros", "vendored", "error-send", "serialize"] }
gc-arena = "0.5.3"

# For loading system fonts on Linux
[target.'cfg(target_os = "linux")'.dependencies]
yeslogic-fontconfig-sys = "6"

# For loading system fonts and system language detection on Windows
[target.'cfg(target_os = "windows")'.dependencies]
winapi = { version = "0.3", features = ["dwrite", "winnls", "winbase", "errhandlingapi", "std"] }

[patch.crates-io]
egui = { git = "https://github.com/afishhh/egui", branch = "cache_galley_lines" }
egui_extras = { git = "https://github.com/afishhh/egui", branch = "cache_galley_lines" }
eframe = { git = "https://github.com/afishhh/egui", branch = "cache_galley_lines" }

# Speeds up testing considerably
[profile.dev]
opt-level = 2

[profile.release]
strip = true
lto = "thin"

[workspace]
members = ["compare_with_slipstream/normalize_xml", "speedy-xml", "windows_gui_wrapper"]
